* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    background-image: url('assets/home.svg');
    background-repeat: no-repeat;
    font-family: "Roboto", sans-serif;
    color: #E1E1E6;
}

body.universe {
    background-image: url('assets/universe.svg');
}

body.exploration {
    background-image: url('assets/exploration.svg');
}

nav {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

nav div {
    margin: 3.2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;    
}

a {
    color: #8D8D99;
    font-size: 2.4rem;
    font-weight: regular;
    text-decoration: none;
}

a.active {
    color: white;
    font-weight: bold;
}

h1 {
    font-size: 4.8rem;
    font-weight: bold;

    margin: 8rem 0 0 8rem;
}

p {
    font-size: 1.8rem;
    font-weight: regular;
    line-height: 160%;

    max-width: 64rem;
    margin: 3.2rem 0 0 8rem;
}

#home {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home h1 {
    margin-left: 0;
}

.button {
    margin-top: 2.4rem;
    padding: 1.2rem 3.2rem;
    line-height: 2.4rem;

    font-size: 1.4rem;
    font-weight: bold;
    color: white;

    background: none;
    border-radius: .6rem;
    border-style: solid;
    border-color: white;
}

.button:hover {
    background-color: white;
    color: #02799D;
    cursor: pointer;
}
